<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam.seckill.mapper.StockOrderMapper">

    <resultMap type="com.jam.seckill.entity.StockOrder" id="StockOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sid" column="sid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into seckill.stock_order(sid, name, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sid}, #{entity.name}, #{entity.createTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into seckill.stock_order(sid, name, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sid}, #{entity.name}, #{entity.createTime})
        </foreach>
        on duplicate key update
        sid = values(sid) , name = values(name) , create_time = values(create_time)
    </insert>

</mapper>

