# Project exclude paths
/admin-sys/target/
/excel-operation/target/
/java8/target/
/springboot-security-web/target/
/collectionhub/target/
/.idea/
/SpringCloudStudy.iml/
#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db