<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam.mapper.UserMapper">

    <resultMap type="com.jam.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into bilimusic.user(username, nickname, password, gender, locked, enabled, last_login_ip, last_login_time, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.username}, #{entity.nickname}, #{entity.password}, #{entity.gender}, #{entity.locked}, #{entity.enabled}, #{entity.lastLoginIp}, #{entity.lastLoginTime}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into bilimusic.user(username, nickname, password, gender, locked, enabled, last_login_ip, last_login_time, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.nickname}, #{entity.password}, #{entity.gender}, #{entity.locked}, #{entity.enabled}, #{entity.lastLoginIp}, #{entity.lastLoginTime}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
         username = values(username) , nickname = values(nickname) , password = values(password) , gender = values(gender) , locked = values(locked) , enabled = values(enabled) , last_login_ip = values(last_login_ip) , last_login_time = values(last_login_time) , create_time = values(create_time) , update_time = values(update_time)     </insert>

</mapper>

